// Styles for footer
.footerWrapper {
    background-color: $primaryMenyBackgroundColor;
    margin: 50px 0 0 0;
    color: $mainTextColor;
    width: 100%;
    border-top: 1px solid $buttonPink;

    .footer {
        display: flex;
        justify-content: center;
        padding: 50px 25px;
        align-items: center;

        span.footerLeft {

            iframe {
                width: 100%;
                height: auto;
                border-radius: 5px;
                box-shadow: $boxShadow;
                pointer-events: none;
            }
        }

        span.footerRight {
            a {
                padding: 10px 40px;
                background-color: $buttonPink;
                border-radius: 5px;
                transition: 0.5s;
            }
            a:hover {
                background-color: $buttonPinkHover;
                text-decoration: none;
            }
        }
    }
}// end footer
