/*
*   Author @ https://HandelsMarketing.se
*
*   (c) Mashallahgruppen
*
*   The Main Scss for http://www.mashallahgruppen.se/
*
*/

// TODO: mediaquery for thubmnail and navbar. The button dosent dit the navbar in responsive view

// rgb(245, 245, 245)
$primaryMenyBackgroundColor: #f5f5f5;

// rgb(255, 255, 255)
$primaryBackgroundColor: #ffffff;

// rgb(255, 157, 0)
$mashallahOrange: #ff9d00;

// rgb(241, 209, 255)
$buttonPink: #f1d1ff;

// rgb(245, 224, 255)
$buttonPinkHover: #f5e0ff;

// rgb(95, 95, 95)
$mainTextColor: #5f5f5f;

// Roboto | https://fonts.google.com/specimen/Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto');
$headerFont: 'Roboto', sans-serif;

// Roboto slab | https://fonts.google.com/specimen/Roboto+Slab?selection.family=Roboto+Slab
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
$mainParagraphFont: 'Roboto Slab', serif;

body {
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
    background-color: $primaryBackgroundColor;
}

p, a, span {
    font-family: $mainParagraphFont;
    color: $mainTextColor;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: $headerFont;
    color: $mainTextColor;
}

button {
    background-color: $buttonPink;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}

button:hover {

}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

// Change color and font for the site title in navbar
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: $mainTextColor;
    font-family: $headerFont;
}

// Change color and font for the links in navbar
.navbar-light .navbar-nav .nav-link {
    color: $mainTextColor;
    font-family: $headerFont;
}

img.thumbnail {
    height: 40px;
}

.headerHero {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

img.hero {
    width: 100%;
    height: auto;
}

.rowWrapper {
    margin: 100px auto;
}

.colInnerWrapper {
    max-width: 700px;
    margin: 0 auto;

    h1 {
        text-align: center;
    }
} // end .colInnerWrapper

.footerWrapper {
    margin: 50px 0 0 0;
    background-color: $primaryBackgroundColor;
    color: $mainTextColor;

    .footer {
        display: flex;
        justify-content: center;
        padding: 25px;
        align-items: center;

        span.footerLeft {
            a {
                font-size: 21px;
                font-family: $headerFont;
            }
        }

        span.footerRight {
            a {
                padding: 10px 40px;
                background-color: $buttonPink;
                border-radius: 5px;
                transition: 0.5s;
            }
            a:hover {
                background-color: $buttonPinkHover;
                text-decoration: none;
            }
        }
    }
}// end footer
