/*
    Author @ https://HandelsMarketing.se

    The Main Scss for http://www.mashallahgruppen.se/
 */

 // TODO: mediaquery for thubmnail and navbar. The button dosent dit the navbar in responsive view

// rgb(245, 245, 245)
$primaryMenyBackgroundColor: #f5f5f5;

// rgb(255, 255, 255)
$primaryBackgroundColor: #ffffff;

// rgb(255, 157, 0)
$mashallahOrange: #ff9d00;

// rgb(241, 209, 255)
$buttonPink: #f1d1ff;

// rgb(95, 95, 95)
$mainTextColor: #5f5f5f;

// Roboto | https://fonts.google.com/specimen/Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto');
$headerFont: 'Roboto', sans-serif;

// Roboto slab | https://fonts.google.com/specimen/Roboto+Slab?selection.family=Roboto+Slab
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
$mainParagraphFont: 'Roboto Slab', serif;

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  background-color: $primaryBackgroundColor;
}

// Change color and font for the site title in navbar
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: $mainTextColor;
    font-family: $headerFont;
}

// Change color and font for the links in navbar
.navbar-light .navbar-nav .nav-link {
    color: $mainTextColor;
    font-family: $headerFont;
}

img.thumbnail {
    height: 40px;
}
