/*
*   Author @ https://HandelsMarketing.se
*
*   (c) Mashallahgruppen
*
*   The Main Scss for http://www.mashallahgruppen.se/
*
*/

// TODO: mediaquery for thubmnail and navbar. The button dosent dit the navbar in responsive view

// Varieables for the scss. Important at top
@import 'vars';

//Default styles for all elements on all pages. path _primary.scss
@import 'primary';

// style for the menu. path _menu.scss
@import 'menu';

// Style for the hero img in the top of every page. path _hero.scss
@import 'hero';

.rowWrapper {
    margin: 100px auto;
}

.colInnerWrapper {
    max-width: 700px;
    margin: 0 auto;

    h1 {
        text-align: center;
    }

    h1.left {
        text-align: left;
    }
} // end .colInnerWrapper

.circleWrapper {
    display: flex;
    justify-content: center;
    margin: 100px auto 100px auto;

    .circle {
        width: 50px;
        height: 50px;
        margin: 15px;
        border-radius: 50px;
        background-color: $mashallahOrange;
    }
} // end .circleWrapper

.latestNewsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        display: flex;
        justify-content: center;
        margin: 0 auto 50px auto;
    }
    .row {

        .latestNews {

            img {
                width: 100%;
                height: auto;
                padding: 5px;
            }
        }
    }
} // end .latestNewsWrapper

// Style for the footer. path _footer.scss
@import 'footer';
